#toc_lessons {
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

main h3 {
	top: 208px;
}


.en-hide {
	opacity: 0;
	transition: opacity .5s;
}

.lesson {
	//margin: 1em;
}

th {
	background: #12306d;
	color: white;
	font-weight: normal;
}


p.en:empty:before {
	content: "—english translation here—";
	opacity: .5;
}

span.en:empty:before {
	content: " -english here-";
	opacity: .5;
}

span.fr,
span.en {
	color: #ffffffbb;
}

.section {
	background: #ffffff07;
	outline: 1px solid #ffffff22;
	padding: .5em 1em;
}
.scroll-horizontal {
	overflow-x: auto;
}

[data-section="233"] .section {
	//width: 50%;
	//overflow-x: auto;
}

.bilingual {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: .5em;
	gap: 1em;
}

.bilingual > * {
	background: #ffffff07;
	outline: 1px solid #ffffff22;
	padding: .5em;
}

.example {
	margin-left: 1em;
	padding-left: 1em;
	border-left: .5em solid #ffffff22;
}

.example p {
	margin: 5px 0;
}

.mallon {
	//outline: 1px dashed gold;
	border: 1px solid #90ee90;
	//background: #ffb70022;
	padding: 1em;
	color: #90ee90;
	border-color: #90ee90;
	border-collapse: collapse;
}

.mallon table {
	border: none;
}

.mallon + .mallon {
	margin-top: 1em;
}

.mallon th,
.mallon td {
	color: #90ee90;
	//border-color: #90ee90;
	//border-color: transparent;
	border-width: 0;
	background: transparent;
}

.mallon .coptic b {
	color: #90ee90;
	font-family: inherit;
	font-weight: normal;
}

.mallon th.right {
	text-align: right;
}







.mallon:before {
	content: "Mallon " attr(data-mallon);
}

.mallon h2 {
	//color: lightblue;
	//text-align: center;
}

.mallon h3 {
	//color: lightblue;
	//text-decoration: none;
}

.mallon h4 {
	//color: lightblue;
}

.mallon ol li {
	//list-style-type: decimal;
}

.hide {
	display: none !important;
}

div[data-section] {
	//padding-left: 1em;
	//position: relative;
	//outline: 1px solid #ffffff22;
	//padding: 1em 1em 0;
}

[data-section].needs-english .section {
	outline: 1px solid #ffeb3b88;
}

[data-section].good .section {
	outline: 1px solid #09860e;
}

div[data-section] + div[data-section] {
	margin-top: 1em;
}

[data-section]:before {
	content: attr(data-section);
	text-align: center;
	//border: 1px solid #ffffff22;
	//background: #ffffff22;
	display: block;
	//position: absolute;
	color: gold;
	//left: 0;
	//top: 0;
}

.side-by-side {
//	background: linear-gradient(145deg, #ffffff44, #ffffff00);
//	outline: 1px dashed gold;
	width: 100%;
	display: grid;
	//grid-template-columns: 1fr 1fr;
	gap: 1em;
	padding: 1em;
}

.lambdin + .mallon {
	
}

.lambdin {
	clear: both;
	width: 100%;
//	mix-blend-mode: screen;
//	background: #ffffff;
	padding: 1em;
}

.lambdin p {
	width: 100%;
}

.lambdin:before {
	//padding: -.5em .5em 0;
	display: inline-block;
	font-variant: small-caps;
	letter-spacing: 1px;
}

.lambdin:before {
	content: "Lambdin";
	color: violet;
	//background: #ffffff11;
}

.lambdin {
	float: left;
	outline: 1px dashed violet;
}

ol.lower-alpha {
	list-style-type: lower-alpha;
}

#introduction #alphabet {
	font-size: clamp(.4rem, -0.125rem + 5vw, 3rem);
	max-height: 9em;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	gap: 0em 1em;
	padding: 0;
	justify-content: space-between;
	align-content: center;
}

#introduction #alphabet li {
	display: flex;
	//background: #ffffff11;
}

#introduction #alphabet li .coptic {
	margin-right: .2em;
	width: 1em;
}

#table_of_contents h3 {
	text-align: center;
}

#table_of_contents ul {
	list-style-type: none;
}

#table_of_contents ul#toc {
	padding-left: 0;
}

#table_of_contents ul {
	//padding-left: 1em;
	margin-top: 1em;
}

#table_of_contents #toc li {
	border-bottom: 1px dotted gray;
	position: relative;
	top: 0;
	left: 0;
	line-height: 1.5;
}

#table_of_contents #toc li:has(ul) {
	border-bottom: none;
}

#table_of_contents #toc .section_name {
	background: #111;
	padding-right: 5px;
	position: relative;
	bottom: -5px;
}

#table_of_contents #toc .section_page {
	float: right;
	background: #111;
	padding-left: 5px;
	position: relative;
	bottom: -5px;
}

#abbreviations_and_conventions > ul {
	list-style-type: none;
	padding-left: 0;
}

#abbreviations_and_conventions .abbreviation {
	background: #111;
	padding-right: 5px;
	position: relative;
	bottom: -5px;
}

#abbreviations_and_conventions .term {
	float: right;
	background: #111;
	padding-left: 5px;
	position: relative;
	bottom: -5px;
}

div[id^="lesson_"] h3,
.chapter h5,
.chapter h6 {
	color: steelblue;
}

h4 {
	//color: orangered;
	font-weight: normal;
	margin-top: 1em;
}

/*div[id^="lesson_"] table,*/
table {
	//border-collapse: collapse;
	border-spacing: 0;
	border: 1px solid steelblue;
	border-radius: 5px;
	width: 100%;
	margin-block-start: 1em;
	margin-block-end: 1em;
}

/*div[id^="lesson_"] td,
#lesson_01 th*/
td, th {
	border: 1px solid #ffffff22;
	padding: .5em;
}

div[id^="lesson_"] table th:first-child,
div[id^="lesson_"] table tr:first-child td:first-child {
	border-top-left-radius: 5px;
}

div[id^="lesson_"] table th:last-child,
div[id^="lesson_"] table tr:first-child td:last-child {
	border-top-right-radius: 5px;
}

div[id^="lesson_"] table tr:last-child td:first-child {
	border-bottom-left-radius: 5px;
}

div[id^="lesson_"] table tr:last-child td:last-child {
	border-bottom-right-radius: 5px;
}

.vocabulary {
	list-style-type: none;
	padding-left: 0;
}

.exercises.has-subsection {
	padding-left: 0;
	list-style-position: inside;
}

.exercises.has-subsection > li {
	list-style-type: upper-alpha;
}

div[id^="lesson_"] li:has(> :not(input[type="checkbox"]:checked)) > ul > li:last-child {
	visibility: hidden;
	opacity: 0;
	transition: opacity .5s ease;
}

li:has(> input[type="checkbox"]:checked) > ul > li:last-child {
	visibility: visible;
	color: lightgreen;
	opacity: 1;
	transition: opacity .5s ease;
}

li > input[type="checkbox"] {
	background: none;
	filter: invert(1);
	position: absolute;
}

li:has(> input[type="checkbox"]) {
	position: relative;
	list-style: decimal outside;
	top: 0;
}

ul li:has(> input[type="checkbox"]) {
	list-style: none;
}

li:has(> input[type="checkbox"]) > ul {
	position: relative;
	left: 1.5em;
	list-style-type: none;
	padding-left: 0;
}