#dictionary ul {
	//font-size: 1.5em;
}

p:has(> .headword) {
	text-indent: 1em;
}

ins {
	color: lightgreen;
}

del {
	color: red;
}

sup {
	line-height: 0;
}

main b {
	color: violet;
}

main em {
	color: #d4b741;
}

i {
	font-style: normal;
	font-family: rk_italic;
	color: #c6b850bb;
}

.dialect {
	font-weight: 400;
	color: #a794f1;
	color: #eeeeee;
	color: #9b5792;
	color: #427daf;
}

.dialect sup.non-italic {
	font-style: normal;
	font-family: body;
}

.headword {
	font-size: 1.5em;
	font-family: rk_coptic;
	color: #c95795;
	line-height: 0;
}

.greek {
	font-family: rk_greek, rk_coptic;
	color: #54b0c3;
}

.arabic,
.hebrew,
.aramaic {
	direction: rtl;
	unicode-bidi: isolate;
}

.arabic {
	font-size: 1.2em;
	line-height: 0;
}

.hebrew {
	font-size: 1.2em;
	line-height: 0;
}

.aramaic {
	font-size: 1.5em;
	line-height: 0;
}

.amharic {
	line-height: 0;
}

.egypt-hiero {
	font-size: 2em;
}

.egypt-translit {
	font-style: italic;
}

#dictionary ul {
	list-style-type: none;
	padding: 0 1em;
}