#dictionary ul {
	//font-size: 1.5em;
}

p:has(> .headword) {
	text-indent: 1em;
}

ins {
	color: lightgreen;
}

del {
	color: red;
}

sup {
	line-height: 0;
}

main b {
	color: violet;
}

main em {
	color: #d4b741;
}

i {
	font-style: normal;
	font-family: italic;
	color: #c6b850bb;
}

.dialect {
	font-weight: 400;
	color: #a794f1;
	color: #eeeeee;
	color: #9b5792;
	color: #427daf;
}

.dialect sup.non-italic {
	font-style: normal;
	font-family: body;
}

.coptic {
	font-family: rk_coptic;
	color: #46a65d;
	//color: #747264;
}

.headword {
	font-size: 1.5em;
	font-family: rk_coptic;
	color: #c95795;
	line-height: 0;
}

.greek {
	font-family: rk_greek, rk_coptic;
	color: #54b0c3;
}

.arabic,
.hebrew,
.aramaic {
	direction: rtl;
	unicode-bidi: isolate;
}

.arabic {
	font-family: rk_arabic, rk_hebrew;
	font-size: 1.2em;
	line-height: 0;
	color: #ded97b;
}

.hebrew {
	font-family: rk_hebrew;
	font-size: 1.2em;
	line-height: 0;
	color: #a1bbff;
}

.aramaic {
	font-family: rk_aramaic;
	font-size: 1.5em;
	line-height: 0;
	color: #ff9090;
}

.amharic {
	font-family: rk_amharic;
	font-size: 1.2em;
	line-height: 0;
	color: #659db8;
	color: #65b8ab;
}

.egypt-hiero {
	font-family: rk_egypt-hiero;
	font-size: 2em;
	color: gold;
	color: #eeeeee88;
}

.egypt-hiero_precomposed {
	font-family: rk_egypt-hiero_precomposed;
	font-size: 2em;
	color: lightgreen;
}

.egypt-hiero-test {
	font-family: rk_egypt-hiero-pdf, rk_egypt-hiero-pdf-2;
	color: gold;
	color: #eeeeee88;
}

.egypt-translit {
	font-family: rk_egypt-translit;
	font-style: italic;
	color: lightblue;
	color: #eeeeee88;
}

#dictionary ul {
	list-style-type: none;
	padding: 0 1em;
}