body {
	background: #111111;
	margin: 0em 1em 1em;
}

h3 {
	color: goldenrod !important;
	background: transparent !important;
	font-size: 1rem !important;
	position: static !important;
}

h4 {
	color: goldenrod !important;
	background: transparent !important;
	font-size: 1rem !important;
	font-weight: normal;
	margin-top: 0;
	position: static !important;
}

#container {
	//border: 1px solid lightgreen;
	width: 1920px;
	max-width: 640px;
	height: 360px;
	padding: 1em 2em;
}

p {
	//margin-top: 0;
}

.ready {
	color: #90ee90;
	color: goldenrod;
}

.player {
	background: lightgreen;
	margin: 0em 0 1em;
}
audio {
	mix-blend-mode: multiply;
	background: #ffffff;
	filter: invert(1);
	width: 100%;
	display: block;
}

.morpheme span.c {
	transition: color .5s;
}

#ap_218,
#ap_222,
#ap_223,
#ap_224 {
	font-size: 1.0em;
}

.line {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: .2em .5em;
}

.line {
	margin-top: 1em;
	//font-size: 1.5em;
}

.trans {
	//font-size: 1.5em;
	color: #ffffff33;
}

.line .group {
	display: flex;
}
.group .morpheme {
	color: #ffffff77;
	display: flex;
	flex-direction: column;
	padding: 0em 0;
}

.morpheme span {
	line-height: 1;
}

.morpheme:hover {
	color: gold;
}

.morpheme span:nth-child(1) {
	//background: #ffffff66;
	font-family: rk_coptic;
	padding: .2em 0em .2em;
}