.ready {
	outline: 1px solid #90ee90;
	background: linear-gradient(135deg, #90ee9022, #90ee9000);
}

.standby {
	outline: 1px solid #ffb700;
	background: linear-gradient(135deg, #ffb70022, #ffb70000);
}

li.it {
	//display: none;
}

#container h2 {
	padding: 0em;
}

#intro table tr td {
	vertical-align: top;
}

#intro table tr td:nth-child(1) {
	white-space: nowrap;
}

#intro ol li {
	outline: none;
}

ul.part {
	padding: 0em;
}

ul.part ol {
	padding: 1em;
}

#greek_words {
	position: fixed;
	top: 0;
	right: 0;
	background: #111111;
	width: 50%;
	height: 3.5em;
	transition: height .5s;
	overflow-y: auto;
	padding: 0em;
	border: 1px solid;
	border-top: 0;
	border-right: 0;
	scrollbar-color: #64496a transparent;
}

#greek_words:hover {
	height: 7.5em;
}

#greek_words h2 {
	display: none;
}
#greek_words .coptic {
	//font-size: 1rem;
	color: #508f45;
	color: #976d59;
}

#greek_words .greek {
	//font-size: 1rem;
	color: #4994a9;
	color: #93c1ae;
	position: relative;
	top: -0.25em;
}

#greek_words > ul {
	padding: 0em;
	margin: 0em;
}

#greek_words > ul > li {
	display: inline-flex;
	font-size: 1.2em;
	padding: .5em;
	padding-top: 0em;
	padding-bottom: .25em;
	padding-right: 0em;
}

#greek_words > ul > li > ul {
	padding-left: 0em;
	//background: #ffffff11;
	//border: 1px solid #ffffff33;
	margin: 0em;
}

#greek_words > ul > li + li > ul {
}

#container ol :is(li.coptic, li.it, li.en) {
	font-size: 1.5em;
}

li.coptic {
	//color: #a165a9;
}

li {
	color: inherit;
}
#container > ul {
	//font-size: 1.5em;
	//width: 900px;
	word-wrap: break-word;
}
#container > ul > li {
	//text-align: center;
	//font-size: 1.5em;
	//color: lightblue;
}
ul > li {
	list-style-type: none;
}
.it:before {
	content: "it: ";
	color: firebrick;
	font-variant: small-caps;
}
.en:before {
	content: "en: ";
	color: gold;
	font-variant: small-caps;
}
ol > li {
	outline: 1px solid #ffffff22;
	border-radius: .5rem;
}
ol > li + li {
	margin-top: 1em;
}
.it,
.en {
	//margin-top: .5em;
}
ol > li > ul {
	//padding-inline-start: 1em;
	padding: 1em;
}
ol > li > ul > li + li {
	padding: 1em 0 0;
}