main > ol {
	list-style-type: none;
}

main > ol > li > ol {
	padding-left: 0;
}

rt {
	font-size: 80%;
	color: #93bbda;
}

.english:has(ruby) {
	line-height: 2.5;
}

.coptic:has(~ .english ruby) {
	line-height: 2.5;
}