@import url("../../styles/styles.css"); /* base styles */

#rendered_view::selection {
	background: transparent;
	background: #33313122;
	background: #ffb600;
	color: #ae51a4;
	color: #3daba7;
	color: #eeeeee;
	color: #000000;
}

body {
	//color: grey;
	//color: #6a6a6a;
}

#editor_text,
#rendered_view {
	font-size: 1.5rem;
}

#interface {
	display: grid;
	grid-template-rows: repeat(2, 1fr);
	grid-template-columns: repeat(2, 1fr);
	gap: 1em;
	height: calc(100dvh - 2em);
}

#editor_text {
	grid-area: 1/2/2/3;
	line-height: 2;
	white-space: pre-wrap;
	font-family: rk_coptic, rk_greek;
	font-weight: normal;
	border: none;
	line-height: 1.5;
	tab-size: 1em;
	outline: none;
	caret-color: lightgreen;
	padding-bottom: 2em !important;
}

#rendered_view {
	grid-area: 2/2/3/3;
}

#editor_text,
#rendered_view {
	box-sizing: border-box;
	width: 62vw;
	padding: .5em;
	overflow-y: scroll;
	height: calc(50dvh - 1em);
	border: .5em solid #222;
}

#rendered_view p {
	margin: 0;
	text-indent: 1em;
}

#rendered_view p p {
	margin: 1em 0 0 0;
}

#interface {
	display: flex;
}

#editor_text, #rendered_view {
	outline: 3px solid yellowgreen;
	overflow-y: auto;
	height: calc(100% - 0em);
	transition: height .5s ease-out;
	border: none;
}

#editor_text {
	border: none;
}

#rendered_view {
	border: none;
}

#editor_text, #rendered_view {
	scrollbar-color: #64496a transparent;
	overflow: scroll;
	transition: width .2s;
	outline: none;
}