#toc_lessons {
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

main h3 {
	top: 200px;
}



#menu ul {
	width: 100%;
	padding: 0;
	list-style-type: none;
	display: grid;
	grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto;
}

#menu li {
	text-align: center;
}

#menu a {
	padding-block: .5rem;
	display: block;
	text-decoration: none;
}

#menu a:hover {
	background: #ffffff33;
}

.en {
	display: none;
}

[data-section]:before {
	content: attr(data-section);
	text-align: center;
	//border: 1px solid #ffffff22;
	//background: #ffffff22;
	display: block;
	//position: absolute;
	color: green;
	//left: 0;
	//top: 0;
}