.en {
	display: none;
}

[data-section]:before {
	content: attr(data-section);
	text-align: center;
	//border: 1px solid #ffffff22;
	//background: #ffffff22;
	display: block;
	//position: absolute;
	color: green;
	//left: 0;
	//top: 0;
}