main > ol {
	list-style-type: none;
}

main > ol > li > ol {
	//list-style-type: none;
	padding-left: 0;
}

main h3 {
	//display: none;
}

#toc_lessons {
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

main h3 {
	top: 232px;
}