main > ol {
	margin-top: 0;
	padding-left: 0;
	list-style-position: inside;
}

main > ol > li {
	margin-top: 0;
	padding-bottom: 4em;
	//outline: 1px dashed white;
}

main h3 {
	//text-transform: uppercase;
}

li:has(> h3) {
	scroll-margin-top: 8em;
}

.languages + .languages {
	margin-top: 2em;
}

.languages.letter {
	background: #ffffff00;
	border: 5px double #73aac455;
	padding: 1em;
}

.languages.letter + .letter {
	border-top: none;
	margin-top: 0;
}

.languages.letter:has(+ .letter) {
	border-bottom: none;
}

.languages.letter .coptic,
.languages.letter a {
	color: #73aac4;
	margin-top: 0;
}

.italian {
	color: #5e825e;
}

.english {
	color: #ffffffaa;
}