.coptic,
.italian,
.english {
	line-height: 2;
}

.languages li {
	position: relative;
	padding-left: 2em;
}

.languages li:before {
	//text-align: right;
}

.languages.submitted:before {
	//content: "submitted";
	//position: absolute;
}

.languages li.coptic:before {
	content: "CO";
	color: white;
	position: absolute;
	left: 0;
	font-family: rk_sans-serif;
}

.languages li.italian:before {
	content: "IT";
	color: white;
	position: absolute;
	left: 0;
	font-family: rk_sans-serif;
}

.languages li.english:before {
	content: "EN";
	color: white;
	position: absolute;
	left: 0;
	font-family: rk_sans-serif;
}

.submitted {
	color: #c668c6;
	color: gray;
}

.submitted * {
	color: inherit !important;
}

.review {
	color: #d29e3f;
}

.review * {
	color: inherit !important;
}

/*

.review:before {
	content: "which languages are done?";
	color: white;
	font-size: 1.2em;
}

.review:has(.english):before {
	content: "☐ english completed";
	color: yellow;
}

.review:has(.italian):before {
	content: "☐ italian completed";
	color: yellow;
}

.review:has(.english):has(.italian):before {
	content: "☐ english completed ☐ italian completed";
	color: yellow;
}

.review.english:has(.english):before {
	content: "☑ english completed";
	color: forestgreen;
}

.review.italian:has(.italian):before {
	content: "☑ italian completed";
	color: forestgreen;
}

.review.english.italian:has(.english):has(.italian):before {
	content: "☑ english completed ☑ italian completed";
	color: forestgreen;
}

.review.italian:has(.english):has(.italian):before {
	content: "☐ english completed ☑ italian completed";
	color: yellow;
}

.review.english:has(.english):has(.italian):before {
	content: "☑ english completed ☐ italian completed";
	color: yellow;
}

*/

main > ol {
	margin-top: 0;
	padding-left: 0;
	list-style-position: inside;
}

main > ol > li {
	margin-top: 0;
	padding-bottom: 4em;
	//outline: 1px dashed white;
}

main h3 {
	//text-transform: uppercase;
}

li:has(> h3) {
	scroll-margin-top: 8em;
}

.languages + .languages {
	margin-top: 2em;
}

.languages.letter {
	background: #ffffff00;
	border: 5px double #73aac455;
	padding: 1em;
}

.languages.letter + .letter {
	border-top: none;
	margin-top: 0;
}

.languages.letter:has(+ .letter) {
	border-bottom: none;
}

.languages.letter .coptic,
.languages.letter a {
	color: #73aac4;
	margin-top: 0;
}

.italian {
	color: #5e825e;
}

.english {
	color: #ffffffaa;
}