.coptic {
	color: #519f5f;
}

.section {
	//position: absolute;
	//top: 0;
}

#toc_lessons {
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

main h3 {
	top: 200px;
}


li ul {
	list-style-type: none;
	padding: 0;
	display: inline-table;
	width: calc(100% - 2rem);
}

#abbreviations_and_conventions ul {
	padding-left: 0;
}

#abbreviations_and_conventions li {
	display: flex;
	justify-content: space-between;
}

a.permalink {
	color: gold;
}

.chart {
	//background: #ffffff11;
	width: 100%;
}

/* show/hide answers */

tr:has(> td > input[type="checkbox"]) + tr td,
li:has(> input[type="checkbox"]) > ul > li:last-child,
.list-2-part > li > ul:last-child li:has(> input[type="checkbox"]) > ul > li {
	opacity: 0;
	transition: opacity .5s ease;
}

tr:has(> td > input[type="checkbox"]:checked) + tr td,
li:has(> input[type="checkbox"]:checked) > ul > li:last-child,
.list-2-part > li > ul:last-child li:has(> input[type="checkbox"]:checked) > ul > li {
	opacity: 1;
}