#toc_outline,
/* #table_of_contents */
/* #toc */
#abbreviations_and_conventions,
#introduction,
#preface
/*
#lesson_01,
#lesson_02,
#lesson_03,
#lesson_04,
#lesson_05,
#lesson_06,
#lesson_07,
#lesson_08,
#lesson_09,
#lesson_10,
#lesson_12,
#lesson_13,
#lesson_14,
#lesson_15,
#lesson_16,
#lesson_17,
#lesson_18,
#lesson_19,
#lesson_20,
#lesson_21,
#lesson_22,
#lesson_23,
#lesson_24,
#lesson_25,
#lesson_26,
#lesson_27,
#lesson_28,
#lesson_29,
#lesson_30
*/
 {
	display: none;
}

#toc {
	//border: 1px solid;
	//position: relative;
	//top: 0;
	//z-index: 9999;
	//background: linear-gradient(to right, #ffffff22, transparent);
}

#toc > ul {
	margin: 0;
	padding: 0;
}

#toc_lessons {	
	//overflow-y: scroll;
	//position: absolute;
	width: 100%;
	display: grid;
	grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
	//gap: 2px;
}

#toc_lessons li {
	//outline: 1px solid;
	display: inline;
	width: 100%;
	text-align: center;
}

#toc_lessons a {
	width: 100%;
	padding-block: .5rem;
	display: block;
	text-decoration: none;
}

#toc_lessons a:hover {
	background: #ffffff33;
}

#introduction #alphabet {
	font-size: clamp(.4rem, -0.125rem + 5vw, 3rem);
	max-height: 9em;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	gap: 0em 1em;
	padding: 0;
	justify-content: space-between;
	align-content: center;
}

/*
alphabet sizing
convertForClamp(840, 360, 2.5, 1);
function convertForClamp(vOldMax, vOldMin, fMax, fMin) {
	let vNewMax = vOldMax / 16;
	let vNewMin = vOldMin / 16;
	let slope = ((fMax - fMin) / (vNewMax - vNewMin));
	let yAxisIntersection = -vNewMin * slope + fMin;
	let preferredValue = slope * 100;
	console.log("Slope:" + slope + "\nY AxisIntersection: " + yAxisIntersection + "\n\nclamp(" + fMin + "rem, " + yAxisIntersection + "rem + " + preferredValue + "vw, " + fMax + "rem)");
}
*/


.subsection .vocabulary {
	list-style-type: none;
	line-height: 2;
}

.subsection .vocabulary .coptic {
	color: maroon;
}

.subsection.exercises ol {
	vertical-align: top;
	padding-inline-start: 1.5rem;
}

li ul {
	list-style-type: none;
	padding: 0;
	display: inline-table;
	width: calc(100% - 2rem);
	//outline: 1px solid gold;
}

.list-2-part > li > ul {
	display: inline-block;
	width: calc(50% - 2rem);
	//outline: 1px solid;
	position: relative;
}

.list-2-part > li > ul:last-child {
	margin-left: 2rem;
}

.list-2-part > li > ul:first-child:after {
	content: "→";
	//font-size: 2em;
	position: absolute;
	top: 1rem;
	right: 0rem;
}

/*
.subsection.exercises ol {
	list-style: none;
	counter-reset: items;
}
.subsection.exercises ol li {
	counter-increment: items;
}

.subsection.exercises ol li:before {
	vertical-align: top;
}

.subsection.exercises ol li:nth-child(n+10):before {
	content: counter(items) ". ";
}
*/

.subsection.exercises > ol.list-abc-upper {
	list-style-type: upper-alpha;
}

.subsection.exercises > ol > li {
	//display: inline-block;
}

.subsection.exercises table {
	border-collapse: collapse;
}

.subsection.exercises td {
	//border: 1px solid;
	padding: .5rem;
}

.subsection.exercises td[colspan="2"] {
	text-align: center;
}

.subsection.exercises td input {
	margin: 0;
	margin: .5rem;
}

.subsection.exercises td:has(input) {
	vertical-align: top;
	//padding: 0;
}

.subsection.exercises td .coptic {
	//padding: .5rem;
}

.subsection.exercises td:has(> .coptic) {
	width: 100%;
}





.exercises.has-subsection {
	//padding-left: 0;
	//list-style-position: inside;
}

.exercises.has-subsection > li {
	//list-style-type: upper-alpha;
}

.exercises li.subsection ol > li > ul {
	//display: inline-grid;
}

.exercises li.subsection ol ul {
	//list-style-type: none;
}

li:has(> input[type="checkbox"]) {
	margin-block: 1rem;
}

tr:has(> td > input[type="checkbox"]) + tr td,
li:has(> input[type="checkbox"]) > ul > li:last-child,
.list-2-part > li > ul:last-child li:has(> input[type="checkbox"]) > ul > li {
	opacity: 0;
	transition: opacity .5s ease;
}

tr:has(> td > input[type="checkbox"]:checked) + tr td,
li:has(> input[type="checkbox"]:checked) > ul > li:last-child,
.list-2-part > li > ul:last-child li:has(> input[type="checkbox"]:checked) > ul > li {
	opacity: 1;
}