@import url("../../../styles/styles.css"); /* base styles */
@import url("../../styles/styles.css"); /* crum */

#preface .signed {
	float: right;
}

#preface .dated {
	float: left;
	text-indent: 0;
}

#preface hr {
	clear: both;
	border: none;
	width: 100%;
	height: 1px;
	background: linear-gradient(to right, transparent, gray, transparent);
	margin-top: 2em;
	display: inline-block
}

#preface .footnotes {
	//text-align: justify;
	margin-top: 1em;
	padding: 0 3em;
}

#preface .footnotes li {
	margin-top: 1em;
}

#preface .footnotes li:target {
	background: #ffb60022;
}

#preface .footnotes li a {
	width: 1em;
	display: inline-block;
}