
#container {
	//left: -28em;
}

.italian {
	color: #ffb70055;
}

.italian::selection {
	color: lightgreen;
}

.english::selection {
	color: #ffffffaa;
}

p.coptic.ready.rk_normalize::selection {
	color: #6cadd7;
	background: #ffffff22;
	background: transparent;
}

h3 {
	display: none;
}

main > div {
	//font-size: 1.5em;
	//display: grid;
	grid-template-columns: auto 1fr 1fr 1fr;
	grid-template-columns: auto 1fr 1fr;
	grid-template-columns: auto 1fr;
	//border: 1px solid;
	gap: 1em;
	//position: sticky;
	//top: 0;
	margin-right: .5em;
}

main > div + div {
	margin-top: 1em;
}

main > div:before {
	content: attr(id);
	line-height: 2;
	//position: sticky;
	//top: 0;
}

main > div > *:first-child {
	//outline: 1px solid magenta;
}

main > div > .coptic {
	color: hsl(170, 48%, 45%);
	color: mediumseagreen;
	color: #ffffff11;
}

main > div > .italian,
main > div > .english {
	//display: none;
}

main > div > .coptic,
main > div > .italian,
main > div > .english {
	//border: 1px solid;
	margin: 0;
	text-indent: 0;
}
