@font-face {
	font-family: rk_h1;
	src: url("./fonts/Shopping for Gifts.ttf");
}

@font-face {
	font-family: rk_sans-serif;
	src: url("./fonts/UbuntuSans.ttf");
}

@font-face {
	font-family: rk_bold;
	src: url("./fonts/Arvo-Bold.ttf");
}

@font-face {
	font-family: rk_italic;
	src: url("./fonts/FiraSans-Italic.ttf");
	//src: url("./fonts/Figtree-Italic-VariableFont_wght.ttf");
	//src: url("./fonts/Arvo-Italic.ttf");
	//src: url("./fonts/NunitoSans-Italic-VariableFont_YTLC,opsz,wdth,wght.ttf");
	//src: url("./fonts/NunitoSans-VariableFont_YTLC,opsz,wdth,wght.ttf");
}

@font-face {
	font-family: rk_coptic;
	src: url("./fonts/NotoSansCoptic.ttf");
	unicode-range:
		U+03e2-03ef, /* greek and coptic */ 
		U+2c80-2Cff, /* coptic */
		U+0304, /* normal stroke */
		U+0305, /* number, abbr., etc. */
		U+033f, /* double stroke */
		U+0fe24, /* left half stroke */
		U+0fe26, /* long stroke */
		U+0fe25, /* right half stroke */
		U+035e, /* double combine stroke */
		U+0323, /* combine dot under */
		U+0307, /* combine dot over */
		U+0301, /* combine acute */
		U+0300, /* combine grave */
		U+0302, /* combine circumflex pointed */
		U+0311, /* combine circumflex curved */
		U+0361, /* wide inverted breve */
		U+037a, /* combine iota subscript */
		U+0308, /* combine diaeresis */
		U+00b7, /* middle dot */
		U+2e17, /* slanted double hyphen */
		U+1ab4, /* combining triple dot above*/
		U+0028, /* left parenthesis */
		U+0029, /* right parenthesis */
		U+002c, /* comma */
		U+002e, /* period */
		U+003a, /* colon */
		U+003f, /* question mark */
		U+2018, /* single quote left */
		U+2019, /* single quote right */
		U+201c, /* double quote left */
		U+201d, /* double quote right */
		U+007b, /* curly bracket left */
		U+007d, /* curly bracket right */
		U+27e8, /* editorial angle bracket left */
		U+27e9, /* editorial angle bracket right */
		U+2e2a, /* two dots over one punctuation */
		U+a7a8, /* s with oblique stroke */
		U+003b; /* semicolon */
}

@font-face {
	font-family: rk_greek;
	src: url("./fonts/GentiumPlus-Regular.ttf");
	unicode-range:
		U+0323, /* combining dot below */
		U+0028, /* left parenthesis */
		U+0029, /* right parenthesis */
		U+0342, /* combining greek circumflex */
		U+0370-03FF, /* greek and coptic */
		U+1F00-1FFF, /* greek extended */
		U+0FE24, /* left half stroke */
		U+0FE26, /* long stroke */
		U+0FE25, /* right half stroke */;
}
@font-face {
	font-family: rk_arabic;
	src: url("./fonts/NotoSansArabic.ttf");
	unicode-range:
		U+0600-06ff, /* arabic */
		U+0763, /* Ý£ */
		U+fe70-feff; /* arabic presentation forms-b */
}

@font-face {
	font-family: rk_hebrew;
	src: url("./fonts/BonaNovaSC-Regular.ttf");
	unicode-range:
		U+0590-05FF; /* hebrew */
}
@font-face {
	font-family: rk_aramaic; 
	src: url("./fonts/SertoAntiochBible.ttf");
	unicode-range:
		U+0700-074f; /* syriac */
}
@font-face {
	font-family: rk_amharic;
	src: url("./fonts/AbyssinicaSIL.ttf");
	unicode-range:
		U+1200-137f, /* ethiopic */
		U+1380-139f, /* ethiopic supplement */
		U+2d80-2ddf, /* ethiopic extended */
		U+ab00-ab2f, /* ethiopic extended-a */
		U+1e7e0-1e7ff; /* ethiopic extended-b */
}

@font-face {
	font-family: rk_egypt-hiero;
	src: url("./fonts/eot.ttf");
	unicode-range:
		U+FE00-FE0F, /* variation selectors */
		U+13000-1342F, /* egyptian hieroglyphs */
		U+13430-1345F, /* egyptian hieroglyph format controls */
		U+13460-143FF; /* egyptian hieroglyphs extended-a */
		/* U+132b8 // ð“Š¸ not used in Crum */
		/* U+132ae // ð“Š® used in Crum */
}

@font-face {
	font-family: rk_egypt-translit;
	src: url("./fonts/newathu5_8.ttf");
	unicode-range:
		U+002E, /* period */
		U+A723, /* egyptological alef */
		U+A725, /* egyptological ayin */
		U+A7BD, /* egyptological iota */
		U+00EF, /* i with diaeresis */
		U+1E25, /* 2nd h */
		U+1E2B, /* 3rd h */
		U+1E96, /* 4th h */
		U+015B, /* s with acute */
		U+0161, /* s with caron */
		U+1E33, /* k with dot below */
		U+010D, /* c with caron */
		U+1E6F, /* t with line below */
		U+1E6D, /* t with dot below */
		U+1E71, /* demotic t */
		U+1E0F, /* d with line below */
		U+27E8, /* left angle bracket */
		U+27E9, /* right angle bracket */
		U+2E22, /* left half bracket */
		U+2E23, /* right half bracket */
		U+2E17; /* coptic oblique hyphen */
}