@font-face { /* sans-serif */
	font-family: rk_sansserif;
	src: url("./fonts/UbuntuSans.ttf");
}

@font-face { /* handmade font */
	//font-family: handmade;
	//src: url("./fonts/Untitled.ttf");
}
@font-face { /* body */
	//font-family: body;
	//src: url("./fonts/UbuntuSans.ttf");
	//src: url("./fonts/OpenSans.ttf");
	//src: url("./fonts/NotoSans.ttf");
	//src: url("./fonts/Figtree-VariableFont_wght.ttf");
	//src: url("./fonts/Arvo-Regular.ttf");
	//src: url("./fonts/NunitoSans-VariableFont_YTLC,opsz,wdth,wght.ttf");
}
@font-face { /* i */
	font-family: italic;
	src: url("./fonts/FiraSans-Italic.ttf");
	src: url("./fonts/Figtree-Italic-VariableFont_wght.ttf");
	src: url("./fonts/Arvo-Italic.ttf");
	src: url("./fonts/NunitoSans-Italic-VariableFont_YTLC,opsz,wdth,wght.ttf");
	//src: url("./fonts/NunitoSans-VariableFont_YTLC,opsz,wdth,wght.ttf");
}
@font-face { /* b */
	font-family: bold;
	src: url("./fonts/Arvo-Bold.ttf");
}
@font-face { /* serif */
	//font-family: rk_serif;
	//src: url("./fonts/Merriweather-VariableFont_opsz,wdth,wght.ttf");
}


@font-face { /* coptic */
	font-family: rk_coptic;
	src: url("./fonts/NotoSansCoptic.ttf");
/*	src: url("./fonts/Antinoou.ttf");*/
	unicode-range:
		U+03e2-03ef, /* greek and coptic */ 
		U+2c80-2Cff, /* coptic */
		U+0304, /* normal stroke */
		U+0305, /* number, abbr., etc. */
		U+033f, /* double stroke */
		U+0fe24, /* left half stroke */
		U+0fe26, /* long stroke */
		U+0fe25, /* right half stroke */
		U+035e, /* double combine stroke */
		U+0323, /* combine dot under */
		U+0307, /* combine dot over */
		U+0301, /* combine acute */
		U+0300, /* combine grave */
		U+0302, /* combine circumflex pointed */
		U+0311, /* combine circumflex curved */
		U+0361, /* wide inverted breve */
		U+037a, /* combine iota subscript */
		U+0308, /* combine diaeresis */
		U+00b7, /* middle dot */
		U+2e17, /* slanted double hyphen */
		U+1ab4, /* combining triple dot above*/
		U+0028, /* left parenthesis */
		U+0029, /* right parenthesis */
		U+002c, /* comma */
		U+002e, /* period */
		U+003a, /* colon */
		U+003f, /* question mark */
		U+2018, /* single quote left */
		U+2019, /* single quote right */
		U+201c, /* double quote left */
		U+201d, /* double quote right */
		U+007b, /* curly bracket left */
		U+007d, /* curly bracket right */
		U+27e8, /* editorial angle bracket left */
		U+27e9, /* editorial angle bracket right */
		U+2e2a, /* two dots over one punctuation */
		U+a7a8, /* s with oblique stroke */
		U+003b; /* semicolon */
}
@font-face { /* coptic -> headword */
	font-family: headword;
	src: url("./fonts/Antinoou.ttf");
}
@font-face { /* greek */
	font-family: rk_greek;
	src: url("./fonts/GentiumPlus-Regular.ttf");
	unicode-range:
		U+0323,
		U+0028, /* left parenthesis */
		U+0029, /* right parenthesis */
		U+0342, /* combining greek circumflex */
		U+0370-03FF,
		U+1F00-1FFF,
		U+0FE24, /* left half stroke */
		U+0FE26, /* long stroke */
		U+0FE25, /* right half stroke */;
}
@font-face { /* arabic */
	font-family: rk_arabic;
	src: url("./fonts/NotoSansArabic.ttf");
	unicode-range:
		U+0600-06ff,
		U+0763, /* Ý£ */
		U+fe70-feff;
}


/*

U+132b8 // ð“Š¸ not used in Crum
U+132ae // ð“Š® used in Crum

*/


@font-face { /* hebrew */
	font-family: rk_hebrew;
	src: url("./fonts/NotoSansHebrew.ttf");
	src: url("./fonts/Arimo-VariableFont_wght.ttf");
	src: url("./fonts/SecularOne-Regular.ttf");
	src: url("./fonts/BonaNovaSC-Regular.ttf");
	unicode-range:
		U+0590-05FF;
}
@font-face {/* aramaic */
	font-family: rk_aramaic; 
	src: url("./fonts/SertoAntiochBible.ttf");
	unicode-range:
		U+0700-074f;
}
@font-face { /* amharic */
	font-family: rk_amharic;
	src: url("./fonts/AbyssinicaSIL.ttf");
	unicode-range:
		U+1200-137f,
		U+1380-139f,
		U+2d80-2ddf,
		U+ab00-ab2f,
		U+1e7e0-1e7ff;
}

@font-face {
	font-family: rk_egypt-hiero;
	src: url("./fonts/eot.ttf");
	unicode-range:
		U+FE00-FE0F, /* variation selectors */
		U+13000-1342F, /* hieroglyphs */
		U+13430-1345F, /* format controls */
		U+13460-143FF; /* hieroglyphs extended-a */
}

@font-face {
	font-family: rk_egypt-hiero_precomposed;
	//src: url("./fonts/EgyptianHiero4.03.ttf");
	src: url("./fonts/EgyptianHiero3.03b.woff");
}

@font-face {
	font-family: rk_variant-selectors;
	src: url("./fonts/NOILMP-SpecialsUC6.ttf");
}

@font-face {
	font-family: rk_egypt-format;
	/*src: url("./fonts/eot.ttf");*/
	src: local("Open Sans");
	unicode-range:
		U+13430-1345F; /* format controls */
}

@font-face {
	font-family: rk_egypt-hiero-pdf;
	src: url("./fonts/NMHNNB-SpecialsUC6.ttf");
}

@font-face {
	font-family: rk_egypt-hiero-pdf-2;
	src: url("./fonts/NMHOPK-UniHieroglyphica.ttf");
}

@font-face {
	font-family: rk_egypt-translit;
	src: url("./fonts/newathu5_8.ttf");
	unicode-range:
		U+002E, /* period */
		U+A723, /* egyptological alef */
		U+A725, /* egyptological ayin */
		U+A7BD, /* egyptological iota */
		U+00EF, /* i with diaeresis */
		U+1E25, /* 2nd h */
		U+1E2B, /* 3rd h */
		U+1E96, /* 4th h */
		U+015B, /* s with acute */
		U+0161, /* s with caron */
		U+1E33, /* k with dot below */
		U+010D, /* c with caron */
		U+1E6F, /* t with line below */
		U+1E6D, /* t with dot below */
		U+1E71, /* demotic t */
		U+1E0F, /* d with line below */
		U+27E8, /* left angle bracket */
		U+27E9, /* right angle bracket */
		U+2E22, /* left half bracket */
		U+2E23, /* right half bracket */
		U+2E17; /* coptic oblique hyphen */
}