@import url("./fonts.css");

* {
	box-sizing: border-box;
}

::selection {
	background: black;
	color: violet;
}

body {
	color: #99ab94;
	background: #1a1a1a;
	font-family: rk_sansserif;
	margin: .5em;
	padding: .5em 1em;
	//border: 1em solid;
	outline: 1px solid;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	margin: .0em 0em;
	//padding: .5em 0;
}

h1 {
	font-family: rk_serif;
	font-weight: bold;
}

h2 + h2 {
	margin-top: 0em;
}

h3 {
	//text-transform: uppercase;
	//letter-spacing: 1px;
	text-decoration: underline;
}
a {
	//color: #d582e3;
	color: inherit;
	text-decoration: none;
}

a:hover {
	color: lightblue;
}

p {
	text-indent: 2em;
}

li {
	list-style-type: square;
}
ul {
	padding-left: 0em;
	list-style-position: inside;
}

#container {
	display: flex;
	flex-direction: column;
	gap: .5em;
}

#container > * {
	//outline: 1px solid gold;
	margin: 0em;
}