body::selection {
	background: #202020;
	color: #7fd467b3;
}

h1,
h2 {
	display: none;
}

sup {
	//color: violet;
	padding: 0 5px;
}
.coptic {
	background: linear-gradient(to right, #2b6d95, #666a2d);
	background-clip: text;
	color: transparent;
	
}

.translation {
	//font-size: .9em;
	scrollbar-color: #64496a transparent;
	position: fixed;
	right: 0;
	height: 98dvh;
	width: 50%;
	overflow-y: auto;
	opacity: .5;
	transition: opacity .5s;
}

.translation:hover {
	opacity: 1;
}

.italian {
	display: none;
}

.coptic,
.translation {
	//overflow-y: auto;
	//scrollbar-color: #64496a transparent;
}

#container {
	font-size: 2.5em;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-columns: repeat(2, 1fr);
	//grid-template-columns: repeat(1, 1fr);
	gap: .5em;
	line-height: 1.5;
	height: 98dvh;
}

#container > * {
	padding: 0;
}

.sentence {
	//color: lightgreen;
	//cursor: pointer;
}
